<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">5e Spellbook</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">All Spells</a>
            </li>
            <li>
                <a href="#">My Spells</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <button type="button" class="btn btn-default navbar-btn">Log In</button> 
            <button type="button" class="btn btn-primary navbar-btn">Sign Up</button>
        </div>
    </div>
</nav>