<!DOCTYPE html>
<html>

<head>
    <title>List of Spells</title>
    <% include ../partials/header.ejs %>
        <script src="/scripts/spellBookService.js"></script>
        <script src="/scripts/spellBookController.js"></script>
        <style>
            div.panel-heading {
                cursor: pointer;
            }
        </style>

</head>

<body ng-app="SpellBook" ng-controller="SpellBookController" ng-init="init()">
    <% include ../partials/spellbookNav.ejs %>
        <!--Search controls-->
        <div class="container page-header">

            <h1>My Saved Spells</h1>
        </div>
        <div class="container container-fluid">

            <!--Main content-->
            <!-- <div class="container"> -->
            <div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!--List of Spells-->
                <div class="form-group">
                    <input type="text" ng-model="filterText.$" class="form-control" placeholder="Filter results">
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="s in spells | filter:filterText" is-open="false">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse{{s.id}}" ng-click="getDetails(s)">
                            <h4 class="panel-title">
                                {{s.name}}
                                <span class="pull-right">{{level(s.level)}}</span>
                            </h4>
                        </div>
                        <div id="collapse{{s.id}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div>
                                    <h5>
                                        <i>{{level(s.level)}} {{school(s.school_id)}}</i>
                                    </h5>
                                    <table class="table table-sm table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="row" colspan="1" class="col-sm-1">
                                                    <!-- <i>{{level(s.level)}} {{school(s.school_id)}}</i> -->
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Casting Time</th>
                                                <td>{{s.casting_time}}
                                                    <span ng-if="s.ritual"> (Ritual)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Range</th>
                                                <td>{{s.range}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Components</th>
                                                <td>
                                                    <span ng-if="s.component_v">V</span>
                                                    <span ng-if="s.component_s">S</span>
                                                    <span ng-if="s.component_m">M</span>
                                                    <span ng-if="s.component_m">({{s.component_desc}})</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Duration</th>
                                                <td>
                                                    <span ng-if="s.concentration">Conc. up to</span> {{s.duration}}</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div id="desc{{s.id}}">

                                </div>
                            </div>
                            <div class="panel-footer">
                                <b>Classes: </b>
                                <span ng-repeat="c in s.classes">
                                    {{c.name}}
                                    <span ng-if="!$last">, </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
</body>

</html>