<!DOCTYPE html>
<html>
<head>
    <title>Rates Results</title>
    <% include ../partials/header.ejs %>
</head>
<body>
<div class="container">
    <div class="container col-md-2"></div>
    <div class="container col-md-8">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>Postal Rates</h1>
            </div>
            <div class="panel-body">
                <h3>Weight: </h3>
                <h3>Mail Type: </h3>
                <h2>Total: $</h2>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="container col-md-2"></div>
</div>
</body>
</html>