<!DOCTYPE html>
<html>

<head>
    <title>Postal Rates</title>
    <% include ../partials/header.ejs %>
    <script type="text/javascript">
        function validate() {
            var weight = parseInt(document.getElementById("weight").value);
            var type = parseInt(document.getElementById("type").value);
            console.log("Weight:", weight, "\n", "Type:", type);

            if (type == 1 || type == 2) {
                 if (weight <= 0 || weight > 3.5) {
                     window.alert("INVALID WEIGHT\nLetters must be less than 3.5oz");
                     return false;
                 }
            }
            else if (type == 3 || type == 4) {
                if (weight <= 0 || weight > 13) {
                     window.alert("INVALID WEIGHT\nEnvelopes and Packages must be less than 13oz");
                     return false;
                 }
            }
            else {
                window.alert("Please select a mail type");
                return false;
            }

            return true;
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="container col-md-2"></div>
        <div class="container col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1>Postal Rates</h1>
                </div>
                <div class="panel-body">
                    <form action="/getRates" method="GET">
                        <div class="form-group">
                            <label for="weight">Weight (oz.)</label>
                            <input type="number" class="form-control" id="weight" name="weight" placeholder="10oz.">
                            <br />
                            <label for="type">Mail Type</label>
                            <select class="form-control" id="type" name="type">
                                <option value="" selected disabled hidden>Select Type</option>
                                <option value="1">Letter (stamped)</option>
                                <option value="2">Letter (metered)</option>
                                <option value="3">Large Envelope (flat)</option>
                                <option value="4">First-Class Package Service—Retail</option>
                            </select>
                            <br />
                            <button type="submit" class="btn btn-primary" onclick="return validate()">Get Rates</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container col-md-2"></div>
    </div>
</body>

</html>