<!DOCTYPE html>
<html>
<head>
    <title>List of Spells</title>
    <% include ../partials/header.ejs %>
    <script src="/scripts/spellBookService.js"></script>
    <script src="/scripts/spellBookController.js"></script>
</head>
<body ng-app="SpellBook" ng-controller="SpellBookController" ng-init="init()">
    <div class="container">
        <!--Search controls-->
        <div class="page-header">
            <h1>Search Spells</h1>
        </div>
        <!--Main content-->
        <div class="container">
            <div class="container col-md-8">
                <!--List of Spells-->

            </div>
        </div>
    </div>
</body>
</html>