<!DOCTYPE html>
<html>

<head>
    <title>List of Spells</title>
    <% include ../partials/header.ejs %>
        <script src="/scripts/spellBookService.js"></script>
        <script src="/scripts/spellBookController.js"></script>
    <style>
        div.panel-heading { cursor: pointer;};
    </style>
</head>

<body ng-app="SpellBook" ng-controller="SpellBookController" ng-init="init()">
    <!--Search controls-->
    <div class="page-header">
        <h1>Search Spells</h1>
    </div>
    <div class="container">

        <!--Main content-->
        <div class="container">
            <div class="container col-lg-8 col-md-8 col-sm-8">
                <!--List of Spells-->
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="s in spells" is-open="false">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse{{s.id}}" ng-click="getDetails(s)">
                            <h4 class="panel-title">
                                {{s.name}}
                            </h4>
                        </div>
                        <div id="collapse{{s.id}}" class="panel-collapse collapse in">
                            <div class="panel-body" id="desc{{s.id}}">
                                
                            </div>
                            <div class="panel-footer">
                                <b>Classes: </b>
                                <span ng-repeat="c in s.classes">{{c.name}}<span ng-if="!$last">, </span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>